.heading
{
    text-align:right;
}
.card 
{
    float: left;
}
.container
{
    width: 800px;
    height: 200px;
    float: center;
    
}
.container span
{
    /*display: block;*/
    display:table; 
    border:1px;
    font-weight:200;
    font-size:16px;
   margin-top: 10px;
}
#name-city
{
   font-size: larger; 
   font-weight: 400;
}
.forecast
{
    width: 8rem;
    height: 10rem;
    margin-left: 20px;
    padding-left:10px;
    background-color: #3377FF;
}
.card-text
{
    color: white;
    font-size: 8px;
    font-weight:100;
}
.col
{
    font-weight :500;
}
.uvLow
{
background-color: green;
color:white;
}
.uvModerate
{
background-color: yellow;
color:white;
}
.uvHigh
{
    background-color: orange;
    color:white;
}
.uvVeryHigh
{
    background-color: red;
    color:white;
}
.uvExtreme
{
    background-color: violet;
    color:white;
}
/*#icon
{
    height:30px;
    width: 30px;
}*/

