.heading {
        float: left;
        text-align: center;
        width: 100%;  
        font-size: 40px;
}
.inputValue{
    font-size: 18px;
    font-weight:500;
}
.card {
    float: left;
}
.container {
    width: 800px;
    height: 200px;
    float: center;
    
}
.container span {
  
    border:1px;
    font-weight:200;
    font-size:16px;
   margin-top: 10px;
}
.display{
   line-height:2;

}
#name-city {
   font-weight: 500;
   font-size: 20px; 
}

.forecast {
    margin-left: 20px;
    background-color: #3377FF;
}
.weather {
    width: 8rem;
    height: 10rem;
    font-size :10px;
    font-weight: 500;
    line-height: 2;
    padding-left:10px;
}

.col {
    font-weight :500;
    font-size: 20px;
}
.uvLow {
background-color: green;
color:black;
}
.uvModerate {
background-color: yellow;
color:black;
}
.uvHigh {
    background-color: orange;
    color:black;
}
.uvVeryHigh {
    background-color: red;
    color:black;
}
.uvExtreme {
    background-color: violet;
    color:black;
}


